body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--gray-light);
  color: var(--text-color);
}

.accent-color {
    color: var(--accent-color);
}

